/* استيراد الخطوط المحلية والويب */

/* Amiri - خط عربي جميل للعناوين */
@font-face {
    font-family: 'Amiri';
    src: url('../fonts/Amiri-Regular.woff2') format('woff2'),
         url('../fonts/Amiri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amiri';
    src: url('../fonts/Amiri-Bold.woff2') format('woff2'),
         url('../fonts/Amiri-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* Almarai - خط عربي حديث للمتن */
@font-face {
    font-family: 'Almarai';
    src: url('../fonts/Almarai-Regular.woff2') format('woff2'),
         url('../fonts/Almarai-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Almarai';
    src: url('../fonts/Almarai-Bold.woff2') format('woff2'),
         url('../fonts/Almarai-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Almarai';
    src: url('../fonts/Almarai-Light.woff2') format('woff2'),
         url('../fonts/Almarai-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* Cairo - خط عربي أنيق */
@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo-Regular.woff2') format('woff2'),
         url('../fonts/Cairo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo-Bold.woff2') format('woff2'),
         url('../fonts/Cairo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* الخطوط الإضافية من قائمتك */
@font-face {
    font-family: 'ArslanWessam';
    src: url('../fonts/Arslan Wessam A.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AALMAGHRIBI';
    src: url('../fonts/AALMAGHRIBI_v4.9.6.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmiriQuran';
    src: url('../fonts/ArbFONTS-Amiri-Quran.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Consolas';
    src: url('../fonts/Consolas-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Samim';
    src: url('../fonts/Samim.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuArabic';
    src: url('../fonts/Ubuntu Arabic Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuArabic';
    src: url('../fonts/Ubuntu Arabic Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'UthmanicHafs';
    src: url('../fonts/UthmanicHafs1 Ver13.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmiriQuranColored';
    src: url('../fonts/amiri-quran-colored.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* خطوط الويب الاحتياطية (إذا لم توجد الملفات المحلية) */
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Almarai:wght@300;400;700&family=Cairo:wght@300;400;700&display=swap');
