/* استيراد الخطوط المضمنة والويب */

/* Amiri - خط عربي جميل للعناوين */
@font-face {
    font-family: 'Amiri';
    src: url('../fonts/Amiri-Regular.woff2') format('woff2'),
         url('../fonts/Amiri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amiri';
    src: url('../fonts/Amiri-Bold.woff2') format('woff2'),
         url('../fonts/Amiri-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* Almarai - خط عربي حديث للمتن */
@font-face {
    font-family: 'Almarai';
    src: url('../fonts/Almarai-Regular.woff2') format('woff2'),
         url('../fonts/Almarai-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Almarai';
    src: url('../fonts/Almarai-Bold.woff2') format('woff2'),
         url('../fonts/Almarai-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Almarai';
    src: url('../fonts/Almarai-Light.woff2') format('woff2'),
         url('../fonts/Almarai-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* Cairo - خط عربي أنيق */
@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo-Regular.woff2') format('woff2'),
         url('../fonts/Cairo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo-Bold.woff2') format('woff2'),
         url('../fonts/Cairo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* Fallback من Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Almarai:wght@300;400;700&family=Cairo:wght@300;400;700&display=swap');
